<?xml version="1.0"?>
<robot name="thundercar" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- inertial parameter macros -->

<xacro:macro name="chassis_inertial_params">
  <origin xyz="0.1477 0 0" rpy="0 0 0" />
  <mass value="4.0" />
  <inertia ixx="0.010609" ixy="0"          ixz="0"
                          iyy="0.050409"   iyz="0"
                                           izz="0.05865" />
</xacro:macro>



<xacro:macro name="steering_hinge_inertial_params">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="0.100" />
  <inertia ixx="4E-06" ixy="0"           ixz="0"
                            iyy="4E-06"  iyz="0"
                                              izz="4E-06" />
</xacro:macro>

<xacro:macro name="sick_inertial_params">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="0.250" />
  <inertia ixx="4E-06" ixy="0"           ixz="0"
                            iyy="4E-06"  iyz="0"
                                              izz="4E-06" />
</xacro:macro>


<!-- geometry macros -->

<xacro:macro name="base_geometry">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://thundercar_description/meshes/slash_base.STL" />
  </geometry>
</xacro:macro>



<xacro:macro name="left_steering_hinge_geometry">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://thundercar_description/meshes/left_steering_hinge.STL" />
  </geometry>
</xacro:macro>

<xacro:macro name="right_steering_hinge_geometry">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://thundercar_description/meshes/right_steering_hinge.STL" />
  </geometry>
</xacro:macro>




</robot>
